@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --default-font-family: "Afacad Flux", sans-serif;
  --default-font-style: normal;
}

html {
  font-family: var(--default-font-family);
  font-style: var(--default-font-style);
}

.navbar {
  background-image: url('./assets/bg.png');
  /* background-color: #235681;
  background-image: url('./assets/bg.png');  */
}

